- if !f.object.deleted?
  .abstractor_object_value_variant.nested-fields
    .abstractor_object_value_variant_value
      %label{ for: 'abstractor_object_object_value_variant_value' }
        Value
      = f.text_field :value
      - if validation_errors?(f.object, :value)
        %p.error= format_validation_errors(f.object, :value)
    .abstractor_object_value_variant_remove
      = link_to_remove_association 'Delete', f, data: { confirm: 'Are you sure?' }, class: 'abstractor_object_value_variant_delete_link'