.hide {
  display: none;
}

.expand_collapse_abstractor_footer_link {
  float: right;
  margin-right: 2rem;
}
.highlight {
  background-color: yellow;
}

.abstractor_abstraction_source_tooltip_img {
  padding-top: .2rem;
  padding-left: .2rem;
}
.highlighted_suggestion {
  background-color: yellow;
}
.abstractor_footer {
  background: white;
  position: fixed;
  margin-left:50%;
  height: 1000rem;
  width: 50%;
//Set per application
//  top: 35%;
}
.abstractor_sources_tabs {
  margin: 1rem 0;
}

.abstractor_source_tab label {
  background: #eee;
  padding: .75rem;
  border: .1rem solid #ccc;
  left: .5rem;
}
.abstractor_source_tab [type=radio] {
  display: none;
}
.abstractor_source_tab_content {
  padding: 1rem;
  max-height: 900px;
  overflow: auto;
}
.abstractor_sources_tabs [type=radio]:checked ~ label {
  background: white;
  border-bottom: .1em solid white;
  z-index: 2;
}
.abstractor_sources_tabs [type=radio]:checked ~ label ~ .content {
  z-index: 1;
}

.abstractor_abstractions {
  display: inline;
  float: left;
  width: 50%;
  margin-top: 1.5rem;
}

* html .abstractor_abstractions {
  overflow-x: hidden;
}

.abstractor_abstractions label, .abstractor_abstractions input {
  display: inline-block;
  margin-bottom: 0.5rem;
  font-weight: normal !important;
}

.abstractor_abstractions input[type="submit"] {
  margin-bottom: 0;
}

.abstractor_abstractions .highlighted {
  background: #e6e6e6;
  padding: 0.25rem;
}

.abstractor_abstractions fieldset {
  border: .1rem solid #969696;
  margin: 0.75rem 0;
  padding: 0.75rem 0.5rem 0.4rem 0.5rem;
}

.abstractor_abstractions fieldset input.combobox {
  vertical-align: bottom;
  width: 12rem !important;
}

.abstractor_abstractions fieldset .ui-button-icon-only {
  margin-bottom: 0.6rem;
}

.abstractor_abstractions fieldset .ui-button-icon-only .ui-icon {
  margin-left: -8px !important;
  margin-top: -8px !important;
}

.abstractor_abstractions fieldset .ui-button-icon-only span.ui-button-text {
  padding: 0;
  margin: 0.1em 0 0.25em !important;
}

.abstractor_abstractions fieldset .abstractor_abstraction_schema_name{
  float: left;
  display: inline;
  width: 30%;
  font-weight: bold;
  margin-bottom: 0.3rem;
}

.abstractor_abstractions fieldset .abstractor_suggestions {
  float: left;
  display: inline;
  width: 70%;
}

.abstractor_abstractions fieldset .abstractor_suggestion_status {
  display: inline;
  float: left;
  width: 10%;
}

.abstractor_abstractions fieldset .abstractor_suggestion_values
{
  display: inline;
  float: left;
  width: 90%;
}

.abstractor_abstractions fieldset .abstraction_edit_abstraction_actions {
  display: inline;
  float: left;
  width: 25%;
}

.abstractor_abstractions fieldset .abstraction_edit_abstraction_value {
  display: inline;
  float: left;
  width: 45%;
}

* html .abstractor_abstractions fieldset .abstractor_abstraction_schema_name,
* html .abstractor_abstractions fieldset .abstractor_suggestion_status,
* html .abstractor_abstractions fieldset .abstraction_edit_abstraction_actions,
* html .abstractor_abstractions fieldset .abstractor_abstraction_value,
* html .abstractor_abstractions fieldset .abstractor_suggestion_values,
* html .abstractor_abstractions fieldset .abstraction_edit_abstraction_value,
* html .abstractor_abstractions fieldset .abstractor_suggestions {
  overflow-x: hidden;
}

.abstractor_abstractions fieldset .clear {
  clear: both;
}


.abstractor_abstractions fieldset .abstractor_abstraction_value {
  margin-bottom: 0.5rem;
}

.abstractor_abstractions fieldset .abstractor_abstraction_value .version {
  margin-top: .5rem;
  margin-bottom: .5rem;
  border-bottom: .1rem #969696 dashed;
}

.abstractor_abstractions fieldset .abstractor_abstraction_value .version .version_date {
  margin-bottom: .5rem;
}

.abstractor_abstractions fieldset .abstractor_abstraction_value .version .version_value {
  margin-bottom: .5rem;
}

.abstractor_abstractions fieldset .abstractor_abstraction_value .version .version_user {
  margin-bottom: .5rem;
}

.abstractor_abstractions .abstractor_abstraction_value .links {
  margin-top: .5rem;
}

.abstractor_abstractions fieldset .abstractor_abstraction_source_tooltip_img i {
  background: asset_url('abstractor/page.png') no-repeat;
  vertical-align: text-bottom;
  padding: .15rem .65rem;
  vertical-align: middle;
}

.abstractor_abstractions fieldset .hidden {
  display: none;
}

.abstractor_abstractions fieldset .abstractor_abstraction_edit div {
  padding: .15rem 0;
}

.abstractor_abstractions fieldset a.button {
  vertical-align: bottom;
}

.abstractor_abstractions .abstractor_abstraction_source_tooltip {
  display: none;
}

ul.ui-autocomplete, .ui-dialog {
  z-index: 1000 !important;
}
.abstractor_bottom_border {
  border-bottom: .1rem solid #dddddd;
  overflow: auto;
}

///* Tooltips */
//div.tooltip {
//  background-color: #e2ecf6;
//  border-bottom-color: #324686;
//  border-bottom-style: solid;
//  border-bottom-width: 1px;
//  border-left-color-ltr-source: physical;
//  border-left-color-rtl-source: physical;
//  border-left-color-value: #324686;
//  border-left-style-ltr-source: physical;
//  border-left-style-rtl-source: physical;
//  border-left-style-value: solid;
//  border-left-width-ltr-source: physical;
//  border-left-width-rtl-source: physical;
//  border-left-width-value: 1px;
//  border-right-color-ltr-source: physical;
//  border-right-color-rtl-source: physical;
//  border-right-color-value: #324686;
//  border-right-style-ltr-source: physical;
//  border-right-style-rtl-source: physical;
//  border-right-style-value: solid;
//  border-right-width-ltr-source: physical;
//  border-right-width-rtl-source: physical;
//  border-right-width-value: 1px;
//  border-top-color: #324686;
//  border-top-style: solid;
//  border-top-width: 1px;
//  margin-bottom: 0;
//  margin-left: 0;
//  margin-right: 0;
//  margin-top: 0;
//  max-width: 400px;
//  overflow-x: hidden;
//  overflow-y: hidden;
//  padding-bottom: 0;
//  padding-left: 0;
//  padding-right: 0;
//  padding-top: 0;
//}
//
//.tooltip {
//  display: none;
//}

//#dialog_tooltip {
//  font-size: 13px;
//  line-height: 1.5em;
//  max-height: 400px;
//}

span.tooltip_img {
  padding-top: 0.25em;
  width: 1.25em;
  display: inline-block;
}

.watermark {
  font-style:italic
}

//.abstractor_abstraction_actions  a{
//  float: right;
//}
//.abstractor_abstraction_actions a {
//  margin: .25em;
//}

.abstractor_abstraction_edit .indirect_source_list {
  margin-bottom: 1rem;
}

.indirect_sources label {
  font-weight: bold !important;
}

.indirect_source_list {
  width: 35%;
}

.indirect_source_text {
   border: .1rem solid #969696;
}

.indirect_source {
  margin-bottom: 1rem;
}

.abstractor_suggestion_values .custom_explanation {
  margin-top: .5rem;
}

.abstractor_suggestion_values .custom_explanation label {
  font-weight: bold !important;
}

.abstractor_abstractions_header,
.abstractor_abstraction_group_member,
.abstractor_abstraction_group_actions {
  border-bottom: .1rem solid #dddddd;
  overflow: auto;
  padding-bottom: .25rem;
}

.abstractor_subject_groups {
  margin-bottom: 1rem;
}

.abstractor_abstraction_group_member {
  margin-bottom: 1rem;
}

.abstractor_abstraction_value .links {
  display: inline-block;
  .clear_link {
    color: red;
  }
}